body {
background: #910000;
text-align: center;
}
#main {
width: 1000px;
height: 600px;
background: #f0f8ff;
margin: 25px auto;
border: solid 5px #f0f8ff
}
h1 {
font-family:"Times New Roman";
font: 24px;
color: #f0f8ff
}
hr {
height 2px;
color: #f0f8ff
}